  #cse-container {
    width: 75%;
  }
  #cse {
  	width: 70%;
  }
  #cse-search-form {
  	width: 30%;
  }
  
  
  .gsc-control-cse {
    font-family: Arial, sans-serif;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  input.gsc-input {
    border-color: #A25B08;
  }
  td.gsc-search-button {
    border-left: 5px solid white;
  }
  input.gsc-search-button {
    border-color: #461200;
    background-color: #461200;
  }
  .gsc-tabHeader.gsc-tabhInactive {
    border-color: #A25B08;
    background-color: #A25B08;
  }
  .gsc-tabHeader.gsc-tabhActive {
    border-color: #461200;
    background-color: #461200;
  }
  .gsc-tabsArea {
    border-color: #461200;
  }
  .gsc-webResult.gsc-result {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gsc-webResult.gsc-result:hover {
    border-color: #FFFFFF;
    background-color: #FFFFFF;
  }
  .gs-webResult.gs-result a.gs-title:link,
  .gs-webResult.gs-result a.gs-title:link b {
    color: #950000;
  }
  .gs-webResult.gs-result a.gs-title:visited,
  .gs-webResult.gs-result a.gs-title:visited b {
    color: #950000;
  }
  .gs-webResult.gs-result a.gs-title:hover,
  .gs-webResult.gs-result a.gs-title:hover b {
    color: #950000;
  }
  .gs-webResult.gs-result a.gs-title:active,
  .gs-webResult.gs-result a.gs-title:active b {
    color: #950000;
  }
  .gsc-cursor-page {
    color: #950000;
  }
  a.gsc-trailing-more-results:link {
    color: #950000;
  }
  .gs-webResult.gs-result .gs-snippet {
    color: #333333;
  }
  .gs-webResult.gs-result .gs-visibleUrl {
    color: #A25B08;
  }
  .gs-webResult.gs-result .gs-visibleUrl-short {
    color: #A25B08;
  }
  .gsc-cursor-box {
    border-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page {
    border-color: #A25B08;
    background-color: #FFFFFF;
  }
  .gsc-results .gsc-cursor-page.gsc-cursor-current-page {
    border-color: #461200;
    background-color: #461200;
  }
  .gs-promotion.gs-result {
    border-color: #FEFEDC;
    background-color: #FFFFCC;
  }
  .gs-promotion.gs-result a.gs-title:link {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:visited {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:hover {
    color: #0000CC;
  }
  .gs-promotion.gs-result a.gs-title:active {
    color: #0000CC;
  }
  .gs-promotion.gs-result .gs-snippet {
    color: #333333;
  }
  .gs-promotion.gs-result .gs-visibleUrl,
  .gs-promotion.gs-result .gs-visibleUrl-short {
    color: #A25B08;
  }
