<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Perl Data Language</title>

  <link rel="shortcut icon" href="images/favicon.ico" type="image/vnd.microsoft.icon" />
  <link rel="stylesheet" type="text/css" href="google-search.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery-ui-1.8.2.custom.css" />
  <link rel="stylesheet" type="text/css" href="css/jquery.autocomplete.css" />
  <link rel="stylesheet" type="text/css" href="pdl.css" />

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  <script type="text/javascript" src="js/jquery.cycle.all.min.js"></script>
  <script type="text/javascript" src="js/jquery.autocomplete.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui-1.8.2.custom.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/rivets/0.7.1/rivets.bundled.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.3/vue.min.js"></script>
  <script type="text/javascript" src="js/URI.min.js"></script>
  <script type="text/javascript" src="js/jquery.URI.min.js"></script>
  <script type="text/javascript" src="js/pdl-www.js"></script>
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17388934-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script');
      ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>
<body>
  <!-- BANNER -->
  <div class="banner">
    <a href="/">
      <img src="images/icons/pdl.png" alt="PDL" height="79px" width="146px"/>
    </a>
    <div id="banner-images"></div>
    <form action="">
      <input type="hidden" name="size" id="search-size" value="20">
      <div class="form-group" style="position: absolute; top: 20px; left: 700px">
          <input type="text" name="search" size="41" autofocus="autofocus" autocorrect="off" autocapitalize="off" spellcheck="false" id="search-input" class="form-control home-search-input" placeholder="MetaCPAN Search">
          <button type="submit" class="btn search-btn">Search MetaCPAN</button>
      </div>
    </form>
  </div> 
  <!-- END BANNER -->

  <!-- SIDE BAR -->
  <div class="sidebar-container">
    <div class="sidebar" id="sidebar">

      <div rv-each-section="sections">
        <h3 rv-text="section.title"></h3>
        <ul>
          <li rv-each-page="section.pages" rv-class-selected="page.selected">
            <a rv-href="page.href" rv-text="page.title"></a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- END SIDE BAR -->
  <!-- MAIN CONTENT -->
  <div class="main" id="main">

    <app-body :params="params"></app-body>

  </div>

  <!-- END CONTENT -->

  <!-- APPLICATION -->
  <template id="search-results-template">
    <div id="search" v-if="results.total">
      <h2>Search provided by <a href="https://metacpan.org">MetaCPAN</a></h2>
      <p>Found {{ results.total }} hits</p><hr>
      <p v-for="result in results.records">
        <a :href="result.href">{{ result.name }}</a> - {{ result.abstract }}
      </p>
    </div>
  </template>

  <script>
    Vue.component('search-results', {
      template: '#search-results-template',
      props: {
        query: {
          type: String,
          required: false,
        },
      },
      data: function() {
        return {
          raw_results: {},
        };
      },
      computed: {
        results: function() {
          var ret = {
            total: 0,
            records: [],
          };
          var data = this.raw_results;
          if ('results' in data) {
            ret.total = data.total;

            $.each( data.results, function (index, outer) {
              var item = outer.hits[0];
              if ( !item ) return;
              var name = item.documentation || item.module[0].name;
              var out  = {
                name:  name,
                href: '?docs=' + name,
                abstract: item.abstract,
              };
              ret.records.push(out);
            });
          }

          return ret;
        },

      },
      methods: {
        search: function(query) {
          var self = this;
          self.raw_results = {};
          query = query || this.query;
          if (!query) return;
          $.ajax({
            type : "GET",
            url : 'https://fastapi.metacpan.org/v1/search/web',
            data : {q: query, size: 20, collapsed: 0},
            success : function(data) {
              self.raw_results = data;
            },
          }).error( function() { console.log("Error attempting to search metacpan") } );
        }
      },
      mounted: function() { this.search() },
      watch: { query: 'search' },
    });
  </script>

  <template id="pod-viewer-template">
    <div id="pod-viewer">
      <b>See also:</b> <a href="?page=function-ref">How do I search for a function?</a>
      <h1 class="title">{{ display_title }}</h1>
      <div class="pod" v-html="display_html"></div>
      <h2>Thanks</h2>
      <p>This documentation was obtained via <a href="https://metacpan.org">MetaCPAN</a></p>
    </div>
  </template>

  <script>
    Vue.component('pod-viewer', {
      template: '#pod-viewer-template',
      props: {
        title: {
          type: String,
          default: '',
        },
        module: {
          type: String,
          default: '',
        },
      },
      data: function() {
        return {
          current_module: '',
          pod: '',
        };
      },
      computed: {
        display_title: function() {
          return this.title || this.current_module;
        },
        display_html: function () {
          var input = this.pod;
          if (!input) return '';

          var pod = $($.parseHTML(input));

          // change pod links
          pod.find('a:uri(domain = metacpan.org):uri(directory *= /pod/)').each(function(index){
            var url = $(this).uri();
            var target = new URI();
            target.fragment(''); // clear any existing fragment

            var name = url.filename();
            target.query({docs:name, title:name});

            var frag = url.fragment();
            if ( frag ) {
              target.fragment(frag);
            }

            $(this).uri(target);
          });

          return pod.prop('outerHTML');

        },
      },
      methods: {
        load_pod_for_module: function (module) {
          module = module || this.module || this.current_module;
          if (module.indexOf('PDL::') != 0) module = 'PDL::' + module;
          this.current_module = module;
          var self = this;
          $.get('https://fastapi.metacpan.org/v1/pod/' + module + '?content-type=text/html', function (data) {
            self.pod = '<div>' + data + '</div>';
            self.render_math();
          });
        },

        render_math: function () {
          if ('MathJax' in window) {
            MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
            return;
          }
          var script = document.createElement("script");
          script.type = "text/javascript";
          script.src  = "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML";
          document.getElementsByTagName("head")[0].appendChild(script);
        },
      },
      mounted: function() { this.load_pod_for_module() },
      watch: { module: 'load_pod_for_module' },
    });

    Vue.component('page-container', {
      template: '<div id="page"></div>',
      props: {
        page: {
          type: String,
          required: true,
        },
      },
      methods: {
        load: function () {
          // this cheats because it has to evaluate scripts in the loaded file
          $('#page').load('content/' + this.page + '.html');
        },
      },
      mounted: function() { this.load() },
      watch: { page: 'load' },
    });

    Vue.component('app-body', {
      props: {
        params: {
          type: Object,
          required: true,
        },
      },
      computed: {
        // the "router"
        page_type: function() {
          if (this.params.search) return 'search';
          if (this.params.docs)   return 'docs';
          if (!this.params.page)  this.params.page = 'home';
          return 'page';
        },
      },
      render: function (h) {
        // render the "route"
        if (this.page_type == 'search') {
          return h('search-results', { props: { query: this.params.search } });
        } else if (this.page_type == 'docs') {
          return h('pod-viewer', { props: {
            module: this.params.docs,
            title: this.params.title || '',
          }});
        } else if (this.page_type == 'page') {
          return h('page-container', { props: { page: this.params.page } });
        }

        return h('p', 'Page not understood');
      },
    });

    var vm = new Vue({
      el: '#main',
      data: {
        params: (new URI).query(true),
      },
    });
  </script>
</body>
</html>
