/* * * * * * * * * * * * * * * *
 *   CSS for PDL Website.
 * 
 */

/*
 * GET RID OF THIS   -- Legacy from the old PDL site.
 */
.main pre span.comment { color: red }

/*
 *  GENERAL
 */
body {
	font-family: verdana, arial, sans-serif;
	padding: 0;
	margin: 0;
}
img { border: none; }
dt { font-weight: bold; }
td { vertical-align: top; }
em { color: #347; }

a {
	color: blue;
	text-decoration: none;
}
a:visited { color: blue; }
a.clickable {
	cursor: pointer;
}


/* Code samples. */
tt {
	font-weight: bold;
	font-size: 110%;
	padding-left: 0.5em;
	padding-right: 0.5em;
}
pre {
	width: 50%;
	padding: 1em;
	display: table;
	border: 2px solid #999;
}
tt, pre {
	color: #347;
	background: #cde;
}


/*
 *  BANNER
 */
div.banner {
	width: 100%;
	height: 79px;
	background-repeat: no-repeat;
	border-bottom: 3px solid #ccc;
}

/*
 *  HEADINGS
 */
h1.title, h2.subtitle {
	margin-top: 0;
	padding-top: 0;
	text-align: center;
}
h1 {
	font-size: 200%;
	padding-bottom: 0;
	margin-bottom: 0;
}
h2 {
	font-size: 130%;
	font-style: italic;
}

h1, h2, h3, h4 { color: #347 }


/*
 *  POD DOCUMENTATION
 */
.pod h1, .pod h2, .pod .index a {
	/* text-transform: lowercase; */
	/* text-transform: capitalize; */
}
.pod h1 {
	font-size: 120%;
	font-style: italic;
}
.pod h2 {
	font-size: 100%;
}
.pod p {
	padding-top: 0;
	margin-top: 10px;
}


/*
 *  ICONS TABLE
 */

.icons td {
	padding-left: 2em;
	padding-right: 2em;
	text-align: center;
	vertical-align: middle;
}

/*
 *  NOTES AND WARNINGS
 */

.note {
	background: #ff7;
	border: 1px solid blue;
	padding: 1em;
	margin-left: 10em;
	margin-right: 10em;
}

/*
 *  SIDEBAR
 */
.sidebar {
	float: left;
	width: 160px;
	margin: 10px;
	padding: 10px;
}
.banner .rotation {
	display: inline;
	position: absolute;
	top: 0px;
}

/* Sidebar heading with rounded corners. */
.sidebar h3 {
	margin: 0;
	padding: 0;
	color: white;
	font-size: 90%;
	text-align: center;
	font-weight: normal;
}
.sidebar h3 {
	background: url("images/corners/top-left.png") no-repeat left top;
}
.sidebar div.h3 {
	background: #347 url("images/corners/top-right.png") no-repeat right top;
}

/* Sidebar body with rounded corners. */
.sidebar ul {
	font-size: 80%;
	margin-top: 0px;
	margin-left: 0px;
	padding-top: 10px;
	padding-left: 0px;
	padding-bottom: 5px;
	list-style-type: none;
}
.sidebar li {
	margin-left: 0px;
	padding-left: 30px;
}

.sidebar a {
	width: 100%;
	display: block;
}
div.sidebar ul li:hover, div.sidebar ul li.selected {
	color: white !important;
	background: #555;
}
div.sidebar ul li:hover a, div.sidebar ul li.selected a {
	color: white !important;
}

.sidebar ul {
	background: url("images/corners/btm-right.png") no-repeat right bottom;
}

.sidebar div.ul {
	background: #cde  url("images/corners/btm-left.png") no-repeat left bottom;
}



/*
 *  MAIN CONTENT
 */
.main {
	margin-left: 25px;
	margin-right: 25px;
	text-align: justify;
}

.main ul, .main ol, .main dl { display: table }

.main .tabs ul, .main .tabs ol { display: block }
.main .tabs a.link { color: blue }

.main .tabs { font-size: 100% }

.slideshow img.border { border: 2px solid #555 }
.slideshow-container {
	float: left;
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
}
.slideshow-container center {
	color: blue;
	cursor: pointer;
}


