/* This Style Sheet contains styles 
applicable to the entire PDL website */

body {
  background-color:#ffffff;
  color:#000000;
  margin: 0;
  padding: 0;
  font: 11pt arial,helvetica,sans-serif;
}

#navBar {
  background-color:#008da5;
  color:#ffffff;
  font-weight: bold;
  float:left;
  width:10em;
  padding: 0 0.2em 0.2em 0;
  margin: 0;
  list-style-image:url('/images/M_red.gif');
}

#navBar a {color: #ffffff; text-decoration: none;}
#navBar a:hover { background: #1AA7BF; }
#navBar ul { list-style:none; margin:0; padding-left:1em;} /* remove bullets and list indents */
#navBar h4 {color:#ff8080; margin:.25em 0 0 .5em;}

#main{
  background-color:white;
  position:absolute;
  left:10em;
  width:75%;
  margin-left:0.5em;
  margin-top:0;
}

a:link {color:#24009C}
a:visited {color: #9C0000}
a:active {color: #FFFF00}

H1,H2,H3,H4,H5,H6 { font-family: arial,helvetica,sans-serif }
PRE,TT { font-family: courier,monospace }
